body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}
h1 {
    color: #333;
    padding: 10px;
    width: 100%;
    text-align: center;
}
form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
label {
    font-weight: bold;
}
input[type="text"], input[type="password"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
small {
    color: #666;
}
button, a {
    background-color: #d32f2f;
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}
a {
    display: inline-block;
    margin-top: 5px;
}
.success-container {
    display: none;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}